torch
torchvision
torchaudio

transformers
sentence-transformers

chromadb

langchain
langchain-core
langchain-community
langchain-chroma
langchain-huggingface
langchain-ollama

langgraph

pandas
numpy
python-dotenv
pymupdf
python-docx